<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor Details</title>
    <style>
        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:100%;
        }
        td, th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Actor Edit Form</h1>
<form th:action="@{/sakila/updateActor}" th:object="${actorToEdit}" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"/><br/>
    <label for="lastName">First Name</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"/><br/>
    <input type="hidden" id="id" name="id" th:field="*{id}"/>
    <input type="submit" value="Submit Update"/>

</form>
</body>
</html>