<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Actor</title>
</head>
<body>
<h1>Actor Edit Form</h1>
<form th:action="@{/sakila/createdSuccess}" th:object="${actorToCreate}" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"/><br/>
    <label for="lastName">First Name</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"/><br/>
    <input type="submit" value="Create Actor"/>

</form>
</body>
</html>